@font-face {
  font-family: "Sansita";
  src: url("Fonts/Sansita-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "tiroBangla";
  src: url("Fonts/TiroBangla-regular.ttf") format("truetype");
}