@use '_variables' as *;

// Footer styles
footer {
    justify-content: center;
    padding: 15px 40px;
    background-color: $primary-bg;
    border-top: 1px solid #ddd;
    font-size: 0.9rem;
    text-align: center;

    
}

// Header styles
header {
    background-color: $primary-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid $secondary-bg;
    height: 70px;

    .logo {
        margin-right: 15px;

        img {
            height: 50px;
            width: auto;
        }
    }

    h1 {
        font-size: 1.8rem;
        color: $text-color;
    }
}