@use '_variables' as *;



// Navigation styles
nav {
  width: 180px;
  padding: 20px 10px;
  background-color: $primary-bg;

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;

      a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: $primary-bg;
        background-color: $nav-bg;
        border-radius: $border-radius;
        transition: background-color 0.3s;
        text-align: center;

        a:hover {
          background-color: $nav-hover-bg;
          color: $text-color
        }

        a.active {
          background-color: $nav-hover-bg;
          font-weight: bold;
          color: $text-color;
        }
      }
    }
  }
}
