// Variables
$primary-bg: #ffffff;
$secondary-bg: #fafafa;
$nav-bg: #C9D6F0;
$nav-hover-bg: #becff1;
$dark-bg: #333333;
$text-color: #333333;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$border-radius: 5px;

@font-face {
    font-family: 'Sansita';
    src: url('Fonts/Sansita-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'tiroBangla';
    src: url('Fonts/TiroBangla-regular.ttf') format('truetype');
}